<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Hương Việt</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark mb-2 layout justify-content-between">
        <a class="navbar-brand" href="/Home">Hương Việt</a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/Order">Đặt hàng</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/About">Giới thiệu</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Contact">Liên hệ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Manage/Ban">Quản lý</a>
            </li>
        </ul>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>Footer</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
<style>
    body {
        padding: 0 !important;
    }

    .layout a {
        color: white !important;
    }
</style>
