@model NhaHang.Models.Home.HomeModel
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Hương Việt</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Món Ăn <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Loại Món
                    </a>
                    <div class="dropdown-menu scrollable-menu" aria-labelledby="navbarDropdownMenuLink">
                        @foreach (var item in Model.LoaiMons)
                        {
                            <a class="dropdown-item" href="#">@item.Tenloaimon</a>
                        }
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <div class="table-wrapper-scroll-y my-custom-scrollbar">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th scope="col">Tên món ăn</th>
                    <th scope="col">Giá</th>
                    <th scope="col">Loại</th>
                </tr>
            </thead>
            <tbody class="monan-table">
                @foreach (var item in Model.MonAnQueries)
                {
                    <tr>
                        <td>@item.TenMon</td>
                        <td>@item.Gia đ</td>
                        <td>@item.LoaiMon</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <br />
    Page @(Model.MonAnQueries.PageCount < Model.MonAnQueries.PageNumber ? 0 : Model.MonAnQueries.PageNumber) of @Model.MonAnQueries.PageCount

    @Html.PagedListPager(Model.MonAnQueries, page => Url.Action("Index",
        new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
</body>
</html>
<style>
    .my-custom-scrollbar {
        position: relative;
        max-height: 400px;
        overflow: auto;
    }

    .table-wrapper-scroll-y {
        display: block;
    }

    .scrollable-menu {
        height: auto;
        max-height: 200px;
        overflow-x: hidden;
    }
</style>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const HomeData = @Html.Raw(Json.Encode(Model.MonAnQueries));
        const dropdownToggle = document.querySelector('.nav-link.dropdown-toggle');
        const dropdownItem = document.querySelectorAll('.dropdown-item');
        const MonAnTable = document.querySelector('.monan-table');
        dropdownItem.forEach(item => {
            item.onclick = function () {
                dropdownToggle.innerText = item.innerText;
                let LoaiMonFilter = []
                HomeData.forEach(MonAn => {
                    if (MonAn.LoaiMon === item.innerText) {
                        LoaiMonFilter.push(MonAn)
                    }
                })
                MonAnTable.innerHTML = ''
                LoaiMonFilter.forEach(MonAn => {
                    MonAnTable.innerHTML += `
                            <tr>
                        <td>${MonAn.TenMon}</td>
                        <td>${MonAn.Gia} đ</td>
                        <td>${MonAn.LoaiMon}</td>
                    </tr>
                        `
                })
            }
        })
    }, false)
</script>



