@model NhaHang.Models.Home.HomeModel
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Hương Việt</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Sửa thông tin bàn</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <label>Id món ăn</label>
                    <input type="text" name="idban" class="form-control" id="model-monan" />
                    <br />
                    <label>Giá</label>
                    <input type="text" name="soghe" class="form-control" id="model-gia" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    <button type="button" class="btn btn-danger" id="saveWait" data-dismiss="modal">Lưu - wait</button>
                    <button type="button" class="btn btn-primary" id="save" data-dismiss="modal">Lưu</button>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Món Ăn <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Loại Món
                    </a>
                    <div class="dropdown-menu scrollable-menu" aria-labelledby="navbarDropdownMenuLink">
                        @foreach (var item in Model.LoaiMons)
                        {
                            <a class="dropdown-item" href="#">@item.Tenloaimon</a>
                        }
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <div class="table-wrapper-scroll-y my-custom-scrollbar">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th scope="col">Id món</th>
                    <th scope="col">Tên món ăn</th>
                    <th scope="col">Giá</th>
                    <th scope="col">Loại</th>
                    <th scope="col">#</th>
                </tr>
            </thead>
            <tbody class="monan-table">
                @foreach (var item in Model.MonAnQueries)
                {
                <tr>
                    <td>@item.Idmon</td>
                    <td>@item.TenMon</td>
                    <td>@item.Gia đ</td>
                    <td>@item.LoaiMon</td>
                    <td>
                        <ul style="list-style:none; padding:0 10px;" class="d-flex flex-row justify-content-around">
                            <li class="pr-1"><i class="fa fa-pencil edit-monan" aria-hidden="true" data-id=@item.Idmon data-toggle="modal" data-target="#exampleModalCenter"></i></li>
                            <li class="pl-1"><i class="fa fa-times delete-monan" aria-hidden="true" data-id="@item.Idmon"></i></li>
                        </ul>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
    <br />
    Page @(Model.MonAnQueries.PageCount < Model.MonAnQueries.PageNumber ? 0 : Model.MonAnQueries.PageNumber) of @Model.MonAnQueries.PageCount

    @Html.PagedListPager(Model.MonAnQueries, page => Url.Action("Index",
        new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
</body>
</html>
<style>
    .my-custom-scrollbar {
        position: relative;
        max-height: 400px;
        overflow: auto;
    }

    .table-wrapper-scroll-y {
        display: block;
    }

    .scrollable-menu {
        height: auto;
        max-height: 200px;
        overflow-x: hidden;
    }
</style>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const HomeData = @Html.Raw(Json.Encode(Model.MonAnQueries));
        const dropdownToggle = document.querySelector('.nav-link.dropdown-toggle');
        const dropdownItem = document.querySelectorAll('.dropdown-item');
        const MonAnTable = document.querySelector('.monan-table');
        dropdownItem.forEach(item => {
            item.onclick = function () {
                dropdownToggle.innerText = item.innerText;
                let LoaiMonFilter = []
                HomeData.forEach(MonAn => {
                    if (MonAn.LoaiMon === item.innerText) {
                        LoaiMonFilter.push(MonAn)
                    }
                })
                MonAnTable.innerHTML = ''
                LoaiMonFilter.forEach(MonAn => {
                    MonAnTable.innerHTML += `
                            <tr>
                        <td>${MonAn.TenMon}</td>
                        <td>${MonAn.Gia} đ</td>
                        <td>${MonAn.LoaiMon}</td>
                    </tr>
                        `
                })
            }
        })

        const editBtn = document.querySelectorAll('.edit-monan')
        const deleteBtn = document.querySelectorAll('.delete-monan')
        const saveWait = document.querySelector('#saveWait')
        const save = document.querySelector('#save')
        saveWait.onclick = function () {
            const modelMonan = document.querySelector('#model-monan')
            const modelGia = document.querySelector('#model-gia')
            $.ajax({
                url: '/Manage/EditMonAn',
                data: { monan: Number(modelMonan.value), gia: Number(modelGia.value), flag: 1 }
            }).then(res => {
                console.log(res)
                if (res == 'True') {
                    console.log(res)
                    window.location.reload();
                }
                else {
                    alert('Cập nhật món ăn không thành công')
                }
            })
        }
        save.onclick = function () {
            const modelMonan = document.querySelector('#model-monan')
            const modelGia = document.querySelector('#model-gia')
            $.ajax({
                url: '/Manage/EditMonAn',
                data: { monan: Number(modelMonan.value), gia: Number(modelGia.value), flag: 0 }
            }).then(res => {
                console.log(res)
                if (res == 'True') {
                    console.log(res)
                    window.location.reload();
                }
                else {
                    alert('Cập nhật món ăn không thành công')
                }
            })

        }
        editBtn.forEach(btn => {
            btn.onclick = () => {
                let modelMonan = document.querySelector('#model-monan')
                modelMonan.value = btn.dataset.id;
            }
        })
        deleteBtn.forEach(btn => {
            btn.onclick = () => {
                $.ajax({
                    url: '/Manage/DelBan',
                    data: { id: btn.dataset.id }
                }).then(value => {
                    console.log(value)
                })
            }
        })
    }, false)
</script>



